.container {
  margin-top: 12%;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

#vCambio {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 50px;
  background: #d6f1e2c9;
}

#vResult {
  margin-top: 1%;
  padding: 20px 50px;
  background: #d6f1e2c9;
  margin-left: auto;
  margin-right: auto;
}

#vCambio #vResult{
  width: 50%;
}

ul li {
  background: #d6f1e2c9;
}

#moneda {
  width: 40%;
}

#monto {
  width: 80%;
}